:root {
    --m-blue: hsl(246, 80%, 60%);

    --l-blue: hsl(195, 74%, 62%); // play
    --l-red: hsl(15, 100%, 70%); // work
    --m-red: hsl(348, 100%, 68%); // study
    --l-green: hsl(145, 58%, 55%); // exercise
    --l-purple: hsl(264, 64%, 52%); // social
    --l-yellow: hsl(43, 84%, 65%); // self care

    --dd-blue: hsl(226, 43%, 10%);
    --d-blue: hsl(235, 46%, 20%);
    --g-blue: hsl(235, 45%, 61%);
    --p-blue: hsl(236, 100%, 87%);
}